/* Tabs */
#BLDToverlayBar {
    background-color: white;
    position: absolute;
    z-index: 5;
    width: 750px;
    height: 30px;
    top: 1596px;
    left: 18px;
    box-shadow: 4px 4px 6px white;
}
#BLDBoverlayBar {
    background-color: white;
    position: absolute;
    z-index: 5;
    width: 750px;
    height: 30px;
    box-shadow: -4px -4px 6px white;
    top: 2141px;
    left: 18px;
}

#buildingTitle,
#upgradingTitle,
#fortifyingTitle,
#wonderTitle {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    user-select: none;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#buildingTitle,
#upgradingTitle,
#fortifyingTitle,
#wonderTitle {
    top: -12px;
    left: -12px;
}

.building {
    height: 49px;
    width: 146px;
    position: relative;
    top: -310px;
    left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.upgrading {
    position: relative;
    left: 160px;
    top: -363px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.fortifying {
    position: relative;
    left: 310px;
    top: -416px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.wonders {
    position: relative;
    left: 460px;
    top: -469px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

/* Pages */
#buildingPage,
#upgradingPage,
#fortifyingPage,
#wonderPage {
    background-color: white;
    width: 1405px;
    height: 575px;
    border: 0px solid black;
    box-shadow: 5px 5px 5px lightgrey;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

#buildingPage {
    position: absolute;
    top: 42px;
    left: -2px;
}

#upgradingPage {
    position: absolute;
    top: 42px;
    left: -152px;
}

#fortifyingPage {
    position: absolute;
    top: 42px;
    left: -302px;
}

#wonderPage {
    position: absolute;
    top: 42px;
    left: -452px;
}
#no-fortify {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 45px;
    left: 15px;
    font-family: 'Arial';
    font-size: 20px;
}
#no-upgrade {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 45px;
    left: 15px;
    font-family: 'Arial';
    font-size: 20px;
}
#no-wonders {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 45px;
    left: 15px;
    font-family: 'Arial';
    font-size: 20px;
}
/* Buildings */
#tent,
#barracks,
#huntersCabin,
#minerShacks,
#lumberHuts,
#gatheringPlace,
#woodPit,
#stoneShed,
#foodCave {
    font-family:sans-serif;
    font-size: 25px;
    position: relative;
    left: 40px;
    top: 0px;
}
#afterTent,
#afterBarracks,
#afterHC,
#afterMS,
#afterLH,
#afterGP,
#afterWP,
#afterSS,
#afterFC {
    position: relative;
    left: 350px;
    top: -30px;
    user-select: none;
}
.buildTent,
.buildBarracks,
.buildHC,
.buildMS,
.buildLH,
.buildGP,
.buildwoodPit,
.buildstoneShed,
.buildfoodCave {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 250px;
    font-size: 24px;
    top: 43px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: #EFEDED; 
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}