/* Global CSS */
input[type=checkbox] {
    width: 20px;
    height: 20px;
}

body {
    background-color: whitesmoke;
    padding: 0px;
    height: 170vh;
}

a {
    color: #3C3C3C;
}

a:hover {
    color: #757575;
    text-decoration: none;
}

/* Specific CSS */
#newCiv {
    font-size: 60px;
    padding: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    top: 10px;
    position: relative;
    font-family: 'Arial';
    font-weight: bold;
}

#kingWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#kingInput {
    font-size: 25px;
    font-family: 'Arial';
    width: 200px;
    height: 25px;
    margin-left: 10px;
}

#kingdomWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#kingdomInput {
    font-size: 25px;
    font-family: 'Arial';
    width: 200px;
    height: 25px;
    margin-left: 10px;
}

#deityWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#deityInput {
    font-size: 25px;
    font-family: 'Arial';
    width: 200px;
    height: 25px;
    margin-left: 20px;
    position: relative;
}

#saveNameWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#saveInput {
    font-size: 25px;
    font-family: 'Arial';
    width: 200px;
    height: 25px;
    margin-left: 10px;
}

#regionPickerWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#regionPicker {
    font-size: 20px;
    font-family: 'Arial';
    width: 200px;
    position: relative;
    top: -2px;
    padding: 3px;
    margin-left: 10px;
}

#difficultyPickerWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#difficultyPicker {
    font-size: 20px;
    font-family: 'Arial';
    width: 200px;
    position: relative;
    top: -2px;
    padding: 3px;
    margin-left: 10px;
}

#autosaveWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#autosave {
    font-family: 'Arial';
    margin-left: 10px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

#achievementWrap {
    font-size: 25px;
    font-family: 'Arial';
    margin-left: 20px;
    top: 10px;
    position: relative;
}

#achievement {
    font-family: 'Arial';
    margin-left: 10px;
    top: 1px;
    cursor: pointer;
    position: relative;
}

#submitButton {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 25px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px grey;
    margin-left: 20px;
    top: -10px;
    position: relative;
}

#donationInfoHeader {
    position: relative;
    top: -17px;
}

#reportInfoHeader {
    position: relative;
    top: -17px;
}

#appInfoHeader {
    position: relative;
    top: -17px;
}

#changeLogHeader {
    font-size: 40px;
    font-family: 'Arial';
    font-weight: bold;
    position: relative;
    top: 20px;
}

#donationInfoBody {
    position: relative;
    top: -17px;
}

#reportInfoBody {
    position: relative;
    top: -17px;
}

#appInfoBody {
    position: relative;
    top: -17px;
}

#changeLogWrap {
    background-color: white;
    box-shadow: 7px 7px 5px lightgrey;
    width: 850px;
    height: 525px;
    position: relative;
    left: 550px;
    top: -615px;
    text-align: center;
}

#formWrap {
    background-color: white;
    height: 77vh;
    width: 500px;
    box-shadow: 7px 7px 5px lightgrey;
    position: relative;
    left: 5px;
    top: -7px;
    user-select: none;
}

#infoWrap {
    background-color: white;
    box-shadow: 7px 7px 5px lightgrey;
    width: 1400px;
    height: 650px;
    top: -550px;
    position: relative;
    margin-left: 10px;
    user-select: none;
}

/* Assigned Classes */
.header {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Arial';
    margin-left: 20px;
    padding-top: 25px;
}

.description {
    margin-left: 20px;
    font-family: 'Arial';
    width: 1300px;
}