body {
    overflow: hidden;
    background-color: whitesmoke;
    background-image: url(../images/tribal_era/background.jpg);
    margin: 0;
    padding: 0;
}
main {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Lucida Sans';
    opacity: 0.85;
}
div {
    background-color: white;
    box-shadow: 3px 3px 2px lightgrey;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    text-align: center;
    left: 1vw;
}

.none {
    font-style: italic;
    font-family: Georgia, serif;
}

#helps {
    height: 12.5vh;
    position: absolute;
    top: 83vh;
}
#experience {
    position: relative;
    top: 1.75vh;
    width: 50vw;
    height: 35vh;
}
#fun {
    position: relative;
    top: 5vh;
    height: 35vh;
    width: 50vw;
}
#playable {
    position: relative;
    top: -73.75vh;
    width: 40vw;
    left: 56vw;
    height: 45vh;
}
#game {
    position: relative;
    top: -70vh;
    width: 40vw;
    left: 56vw;
    height: 24.15vh;
}