.civData {
    position: relative;
    margin: 0px;
    padding: 0px;
    top: -25px;
    left: 0px;
    background-color: transparent;
    width: 750px;
    padding-left: 10px;
}
#kingdomWrap {
    font-size: 28px;
    font-family: 'Arial';
}
#kingWrap {
    font-size: 20px;
    font-family: 'Arial';
    position: relative;
    top: -25px;
}
#civWrap {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    position: relative;
    top: -25px;
}
#versionlabel {
    position: absolute;
    top: 5px;
    font-family: 'Arial';
    font-weight: bold;
    left: 1245px;
}