.enemyCounterWrap {
    background-color: white;
    box-shadow: 5px 5px 0px lightgrey;
    top: -525px;
    position: relative;
    left: 839px;
    width: 575px;
    height: 200px;
    font-family: 'Arial';
}

#enemyTitle {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
}

#wolves, #barbarians {
    position: relative;
    left: 25px;
    padding-bottom: 10px;
    top: 25px;
    font-size: 20px;
}

.count {
    top: -23px;
    left: 110px;
    position: relative;
}