#PPLToverlayBar {
    background-color: white;
    position: relative;
    z-index: 5;
    width: 750px;
    height: 30px;
    top: -125px;
    left: 18px;
    box-shadow: 4px 4px 6px white;
}

#PPLBoverlayBar {
    background-color: white;
    position: relative;
    z-index: 5;
    width: 750px;
    height: 30px;
    box-shadow: -4px -4px 6px white;
    top: 390px;
    left: 18px;
}

/* Tabs */
#workerTitle,
#soldierTitle,
#conquestTitle {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    user-select: none;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#workerTitle {
    top: -12px;
    left: -12px;
}

#soldierTitle {
    left: -12px;
    top: -12px;
}

#conquestTitle {
    left: -12px;
    top: -12px;
}

.worker {
    height: 49px;
    width: 146px;
    position: relative;
    top: -230px;
    left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.soldier {
    position: relative;
    left: 160px;
    top: -283px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.conquest {
    position: relative;
    left: 310px;
    top: -336px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

/* Pages */
#workerPage,
#soldierPage,
#conquestPage {
    background-color: white;
    width: 800px;
    height: 575px;
    border: 0px solid black;
    box-shadow: 5px 5px 5px lightgrey;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

#workerPage {
    position: absolute;
    top: 42px;
    left: -2px;
}

#soldierPage {
    position: absolute;
    top: 42px;
    left: -152px;
}

#conquestPage {
    position: absolute;
    top: 42px;
    left: -302px;
}

#no-soldier {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 45px;
    left: 15px;
    font-family: 'Arial';
    font-size: 20px;
}

#no-conquest {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 45px;
    left: 15px;
    font-family: 'Arial';
    font-size: 20px;
}

/* People and Occupations */
#workerRecruitWrap {
    font-size: 27px;
    font-family: 'Arial';
    font-weight: bold;
    position: relative;
    left: 20px;
    top: 50px;
}

.worker-recruit {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 175px;
    font-size: 24px;
    top: -47px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: #EFEDED;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#after-button {
    position: relative;
    font-weight: normal;
    font-size: 25px;
    top: -90px;
    left: 300px;
}

#ljWrap,
#minerWrap,
#hunterWrap,
#UEMWrap {
    font-family:sans-serif;
    font-size: 25px;
    position: relative;
    left: 40px;
    top: -10px;
}

#ljWrap,
#minerWrap,
#hunterWrap {
    top: 45px;
}

.lsubtract,
.ladd,
.msubtract,
.madd,
.hsubtract,
.hadd {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 195px;
    font-size: 24px;
    top: -67px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: #EFEDED;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 1px;
}

/*----Military----*/
.meleeTitle, .rangedTitle {
    font-weight: bold;
    position: relative;
    left: 20px;
    font-family: 'Arial';
    font-size: 27px;
    font-size: 25px;
    padding-top: 25px;
}

.meleeTitle {
    padding-bottom: 20px;
}

.melee {
    position: relative;
    top: -100px;
}

.ranged {
    position: relative;
    top: -100px;
}

#soldierCount {
    font-size: 27px;
    font-family: 'Arial';
    font-weight: bold;
    position: relative;
}

#soldierWrap {
    position: relative;
    top: 50px;
    left: 20px;
}

.soldierType {
    font-size: 25px;
    font-family: 'Arial';
    left: 50px;
    position: relative;
}

#brawlers, #clubbers {
    padding-bottom: 50px;
}
#slingers {
    padding-bottom: 50px;
}

#soldierRecruitWrap {
    font-size: 27px;
    font-family: 'Arial';
    font-weight: bold;
    position: relative;
}

.soldier-recruit {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 175px;
    font-size: 24px;
    top: -47px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: #EFEDED;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#after-soldierButton {
    position: relative;
    font-weight: normal;
    font-size: 25px;
    top: -90px;
    left: 300px;
    width: 425px;
}

#spearmen,
#clubbers,
#slingers,
#brawlers {
    font-family:sans-serif;
    font-size: 25px;
    position: relative;
    left: 40px;
    top: -10px;
}

#spearmen,
#clubbers,
#slingers {
    top: 45px;
}

.ssubtract,
.sadd {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 195px;
    font-size: 24px;
    top: 0px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: #EFEDED;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 1px;
}

.csubtract,
.cadd {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 195px;
    font-size: 24px;
    top: -50px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: #EFEDED;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 1px;
}

.slsubtract,
.sladd {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 195px;
    font-size: 24px;
    top: -50px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    background-color: #EFEDED;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 1px;
}