.settingWrap {
    overflow: hidden;
    height: 650px;
    width: 500px;
    background-color: white;
    font-family: 'Arial';
    border-radius: 3px;
    box-shadow: 5px 5px 0px lightgrey;
    position: relative;
    left: 915px;
    top: -550px;
    user-select: none;
}
#SET-TITLE {
    font-size: 37px;
    position: relative;
    top: -15px;
    font-weight: bold;
    text-align: center;
}
#SAVE-TITLE,
#DATA-TITLE,
#EFFECTS-TITLE,
#SOUND-TITLE {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
    position: relative;
    top: -30px;
}
.sbutton {
    font-family: 'Arial';
    border: 1px solid black;
    padding: 3px;
    position: relative;
    font-size: 24px;
    top: -40px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 0px grey;
    background-color: #EFEDED; 
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.buttonWrap {
    position: relative;
    top: 0px;
    left: 10px;
}
/* Console */
.consoleWrap {
    height: 650px;
    width: 400px;
    background-color: white;
    font-family: 'Arial';
    border-radius: 3px;
    box-shadow: 5px 5px 0px lightgrey;
    position: relative;
    left: 1000px;
    top: -170px;
    user-select: none;
}
#CONSOLE-TITLE {
    font-size: 30px;
    position: relative;
    top: 20px;
    font-weight: bold;
    text-align: center;
}
.titleWrap {
    height: 50px;
    background-color: white;
    top: 0px;
    position: relative;
}
#entries {
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    top: 25px;
    overflow: scroll;
}