/* Resources */
.unselected {
    display: none;
}
.notcurrent:hover {
    background-color: whitesmoke;
}
.selected {
    display: block;
}
.current {
    border: 1px solid lightgrey;
    border-bottom: 1px solid white;
}
.notcurrent {
    border: 1px solid lightgrey;
}
.gameTabs {
    position: relative;
    font-family: 'Lucida Grande', 'Lucida Sans';
    padding: 0;
    margin-left: 5px;
    width: fit-content;
    height: fit-content;
}
.topTabs {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
}
.topTabOption {
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    margin: 0;
    font-family: 'Lucida Grande', 'Lucida Sans';
}
.mainPages {
    background-color: white;
    box-shadow: 3px 3px 2px lightgrey;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    margin-left: 10px;
    padding-left: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 27.8vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.notUnlocked {
    font-style: italic;
}

#citizenTabs {
    position: absolute;
    top: 72vh;
}

#optionsTabs {
    position: absolute;
    top: 43vh;
    left: 71.5vw;
}

.pageStorageLabel {
    font-style: italic;
    font-family: Georgia;
    position: absolute;
    margin-top: -35px;
    margin-left: 18vw;
}

.secondaryPages {
    background-color: white;
    box-shadow: 3px 3px 2px lightgrey;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    margin-left: 10px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 3px;
    width: 24.75vw;
    height: 48vh;
    overflow-y: scroll;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fileSaverOption {
    margin-top: 25px;
}
#fileSaverTitle {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: bold;
    user-select: none;
}
.fileSaverDecoration {
    user-select: none;
}
.pageItem {
    font-size: 16px;
}
.pageButton, .pageDisabledButton {
    font-family: 'Lucida Grande', 'Lucida Sans';
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 10;
    position: absolute;
    left: 23vw;
}
.resourcesPageButton {
    left: 13vw;
}
#foodGather {
    top: 5px;
}
#woodGather {
    top: 39px;
}
#stoneGather {
    top: 74px;
}
#unemployedRecruit {
    top: 0px;
}
#hunterDismiss, #hunterRecruit {
    top: 35px;
}
#lumberjackDismiss, #lumberjackRecruit {
    top: 70px;
}
#minerDismiss, #minerRecruit {
    top: 105px;
}
.recruit {
    left: 26vw;
}
.pageButton:hover {
    background-color: white;
}