/* Storage of all game-wide stylings */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #1f1f1f;
    text-decoration: underline;
}

body {
    background-color: whitesmoke;
}

h1,
h3,
h2,
h4 {
    position: relative;
    user-select: none;
}

table {
    position: relative;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 250vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    background-color: lightgrey;
    user-select: none;
    margin: 10px;
}