/* Tabs */
#buildingTitle,
#upgradingTitle,
#fortifyingTitle,
#wonderTitle {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    user-select: none;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#buildingTitle,
#upgradingTitle,
#fortifyingTitle,
#wonderTitle {
    top: -12px;
    left: -12px;
}

.building {
    height: 49px;
    width: 146px;
    position: relative;
    top: -260px;
    left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.upgrading {
    position: relative;
    left: 160px;
    top: -313px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.fortifying {
    position: relative;
    left: 310px;
    top: -366px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.wonders {
    position: relative;
    left: 460px;
    top: -419px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

/* Pages */
#buildingPage,
#upgradingPage,
#fortifyingPage,
#wonderPage {
    background-color: white;
    width: 1405px;
    height: 575px;
    border: 0px solid black;
    box-shadow: 5px 5px 5px lightgrey;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

#buildingPage {
    position: absolute;
    top: 42px;
    left: -2px;
}

#upgradingPage {
    position: absolute;
    top: 42px;
    left: -152px;
}

#fortifyingPage {
    position: absolute;
    top: 42px;
    left: -302px;
}

#wonderPage {
    position: absolute;
    top: 42px;
    left: -452px;
}
#no-fortify {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 15px;
    font-family: 'Arial';
    font-size: 20px;
}
#no-upgrades {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 15px;
    font-family: 'Arial';
    font-size: 20px;
}