/* Tabs */
#resourceTitle,
#researchTitle,
#relicTitle {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    user-select: none;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#resourceTitle {
    top: -12px;
    left: -12px;
}

#researchTitle {
    left: -12px;
    top: -12px;
}

#relicTitle {
    left: -12px;
    top: -12px;
}

.resource {
    height: 49px;
    width: 146px;
    position: relative;
    top: -645px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.research {
    position: relative;
    left: 150px;
    top: -698px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

.relics {
    position: relative;
    left: 300px;
    top: -751px;
    height: 49px;
    width: 146px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: grey;
    border: 2px solid transparent;
}

/* Added Classes */
.selected {
    background-color: white;
}

.border {
    border-bottom: 1px solid grey;
}

.nborder {
    border-bottom: 1px solid white;
}

.unselected {
    background-color: #EFEDED;
}

.after {
    color: grey;
}

/* Pages */
#resourcePage,
#researchPage,
#relicPage {
    background-color: white;
    width: 800px;
    height: 500px;
    border: 0px solid black;
    box-shadow: 5px 5px 5px lightgrey;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

#resourcePage {
    position: absolute;
    top: 42px;
    left: -2px;
}

#researchPage {
    position: absolute;
    top: 42px;
    left: -152px;
}

#relicPage {
    position: absolute;
    top: 42px;
    left: -302px;
}

#no-relic {
    color: grey;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 15px;
    font-family: 'Arial';
    font-size: 30px;
}

/* Resources */
.regularTitle {
    font-size: 27px;
    font-family: 'Arial';
    font-weight: bold;
    position: relative;
    left: 20px;
}

.woodWrap,
.stoneWrap,
.foodWrap {
    font-family: 'Arial';
    font-size: 22px;
    position: relative;
    left: 40px;
    top: 10px;
}
.wood-gather,
.stone-gather,
.food-gather {
    border: 1px solid black;
    padding: 3px;
    position: relative;
    left: 130px;
    font-size: 20px;
    top: -40px;
    border-radius: 3px;
    background-color: #EFEDED; 
    padding-left: 7px;
    padding-right: 7px;
}
#afterWood,
#afterStone,
#afterFood {
    position: relative;
    left: 250px;
    top: -77px;
}
.specialTitle {
    font-size: 27px;
    font-family: 'Arial';
    font-weight: bold;
    position: relative;
    left: 20px;
}

.oreWrap,
.hideWrap,
.rootsWrap,
.cottonWrap {
    font-family: 'Arial';
    font-size: 22px;
    padding-bottom: 75px;
    position: relative;
    left: 40px;
    top: 10px;
}