.settingWrap {
    overflow: hidden;
    height: 650px;
    width: 500px;
    background-color: white;
    font-family: 'Arial';
    border-radius: 3px;
    box-shadow: 5px 5px 5px lightgrey;
    position: relative;
    left: 915px;
    top: -365px;
    user-select: none;
}
#SET-TITLE {
    font-size: 37px;
    position: relative;
    top: 15px;
    font-weight: bold;
    text-align: center;
}
#SAVE-TITLE,
#DATA-TITLE,
#EFFECTS-TITLE,
#SOUND-TITLE {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
    position: relative;
    top: -10px;
}
.sbutton {
    font-size: 20px;
    border-radius: 3px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EFEDED; 
    border: 1px solid black;
}
.buttonWrap {
    position: relative;
    top: -30px;
    left: 10px;
}
/* Console */
.consoleWrap {
    height: 650px;
    width: 400px;
    background-color: white;
    font-family: 'Arial';
    border-radius: 3px;
    box-shadow: 5px 5px 5px lightgrey;
    position: relative;
    left: 1015px;
    top: -160px;
    user-select: none;
}
#CONSOLE-TITLE {
    font-size: 30px;
    position: relative;
    top: 20px;
    font-weight: bold;
    text-align: center;
}
.titleWrap {
    height: 75px;
    background-color: white;
    top: -30px;
    position: relative;
}
#entries {
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    top: -10px;
    overflow: scroll;
}